<div class="mb-4 text-center">
    <label class="patient_header">Section 6: Review Details</label>
</div>
<section class="container patient_box">
    <div class="patient_forms_heading text-left mb-3">Preview</div>
    <form [formGroup]="stepSixForm" class="form-text text-left" autocomplete="off" novalidate #formRef="ngForm">

        <div class="col-12 mb-3">
            <label>Review Form.... Coming up</label>
            <div class="mb-3">
                <pre [innerHTML]="patientDetails | prettyprint"></pre>
            </div>
        </div>

        <div class="row-layout"></div>


        <div class="container mt-3">
            <div class="row justify-content-between">
              <div class="col-auto">
                <button class="btn btn-warning btn-can-size" (click)="cancelPatient()" >Cancel</button>
              </div>
              <div class="col-auto">
                <button class="button btn-primary btn-co-size mr-2" cdkStepperPrevious>&#8592; Previous</button>
                <button class="btn btn-primary btn-co-size" (click)="stepSixSubmit()" cdkStepperNext>Next &#8594;</button>
              </div>
            </div>
        </div>

    </form>
</section>