<div class="mb-4 text-center">
    <label class="patient_header">Section 3: AKA CIFQ AKA <br>
        Concussion Function Impact Questionnaire (CFIQ)</label>
</div>

<section class="container patient_box">
    <!-- <div class="patient_form_sub_heading text-center mb-3">
        Notes: This section shall be populated based on an interview with the patient. All responses are required. The <br> user should have the option to enter in free form notes to each response.
    </div>
    <div class="row-layout"></div>
    <div class="patient_form_sub_heading text-center mb-3" style="color: #2d70b8;font-size: 18px;">
        There may be a record for this section for each visit with the patient.<b>Multiple Records Per Patient</b> 
    </div> -->
    <div class="row-layout"></div>

    <div class="form-row mb-3 form-text text-left">
        <label>Date of Injury: {{ dateOfInjury }}</label>
    </div>

    <div class="form-row mb-3 form-text text-left">
        <label>Please use the following to rate your symptoms</label>
    </div>

    <form [formGroup]="stepThreeForm" class="form-text text-left" autocomplete="off" novalidate #formRef="ngForm">

        <div class="form-row mb-3 form-text text-left" style="color: #2d70b8;">
            <label>The sections and questions of the CFIQ are</label>
        </div>

        <div formGroupName="dailyRoutine">
            <div class="form-row mb-3">
                <label class="form-label">1. Daily Routine Management <br> "Rate the difficulty you've experienced in
                    managing daily routines, such as personal care and preparing meals."</label>
                <div class="col-12 pl-4">
                    <div class="custom-control custom-radio"
                        [ngClass]="{ 'is-invalid': fd.CIFQ_Routine_Score.errors && formRef.submitted }">
                        <div style="margin-right: 3rem;">
                            <input id="daily0" type="radio" class="custom-control-input" value="0" name="CIFQ_Routine_Score"
                                formControlName="CIFQ_Routine_Score">
                            <label class="custom-control-label" for="daily0">0 = Never Experienced
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="daily01" type="radio" class="custom-control-input" value="1" name="CIFQ_Routine_Score"
                                formControlName="CIFQ_Routine_Score">
                            <label class="custom-control-label" for="daily01">1 = Mild
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="daily02" type="radio" class="custom-control-input" value="2" name="CIFQ_Routine_Score"
                                formControlName="CIFQ_Routine_Score">
                            <label class="custom-control-label" for="daily02">2 = Moderate
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="daily03" type="radio" class="custom-control-input" value="3" name="CIFQ_Routine_Score"
                                formControlName="CIFQ_Routine_Score">
                            <label class="custom-control-label" for="daily03">3 = Severe
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="daily0R" type="radio" class="custom-control-input" value="R" name="CIFQ_Routine_Score"
                                formControlName="CIFQ_Routine_Score">
                            <label class="custom-control-label" for="daily0R">R = Resolved
                            </label>
                        </div>
                    </div>
                    <div *ngIf="fd.CIFQ_Routine_Score.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fd.CIFQ_Routine_Score.errors.required">Field is required
                        </div>
                    </div>
                </div>

                <div class="col-12 pl-4">
                    <div class="form-group">
                        <textarea formControlName="CIFQ_Routine_Notes" class="form-text form-control" rows="3" cols="100" [ngClass]="{ 'is-invalid': fd.CIFQ_Routine_Notes.errors && formRef.submitted }"></textarea>
                    </div>
                    <div *ngIf="fd.CIFQ_Routine_Notes.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fd.CIFQ_Routine_Notes.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div formGroupName="mobility">
            <div class="form-row mb-3">
                <label class="form-label">2. Mobility and Transportation <br> "Rate any difficulties you've encountered with mobility or using transportation, including driving and public transport."</label>
                <div class="col-12 pl-4">
                    <div class="custom-control custom-radio"
                        [ngClass]="{ 'is-invalid': fm.CIFQ_Mobility_Score.errors && formRef.submitted }">
                        <div style="margin-right: 3rem;">
                            <input id="mobility0" type="radio" class="custom-control-input" value="0" name="CIFQ_Mobility_Score"
                                formControlName="CIFQ_Mobility_Score">
                            <label class="custom-control-label" for="mobility0">0 = Never Experienced
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="mobility01" type="radio" class="custom-control-input" value="1" name="CIFQ_Mobility_Score"
                                formControlName="CIFQ_Mobility_Score">
                            <label class="custom-control-label" for="mobility01">1 = Mild
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="mobility02" type="radio" class="custom-control-input" value="2" name="CIFQ_Mobility_Score"
                                formControlName="CIFQ_Mobility_Score">
                            <label class="custom-control-label" for="mobility02">2 = Moderate
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="mobility03" type="radio" class="custom-control-input" value="3" name="CIFQ_Mobility_Score"
                                formControlName="CIFQ_Mobility_Score">
                            <label class="custom-control-label" for="mobility03">3 = Severe
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="mobility0R" type="radio" class="custom-control-input" value="R" name="CIFQ_Mobility_Score"
                                formControlName="CIFQ_Mobility_Score">
                            <label class="custom-control-label" for="mobility0R">R = Resolved
                            </label>
                        </div>
                    </div>
                    <div *ngIf="fm.CIFQ_Mobility_Score.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fm.CIFQ_Mobility_Score.errors.required">Field is required
                        </div>
                    </div>
                </div>

                <div class="col-12 pl-4">
                    <div class="">
                        <textarea formControlName="CIFQ_Mobility_Notes" class="form-text form-control" rows="3" cols="100" [ngClass]="{ 'is-invalid': fm.CIFQ_Mobility_Notes.errors && formRef.submitted }"></textarea>
                    </div>
                    <div *ngIf="fm.CIFQ_Mobility_Notes.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fm.CIFQ_Mobility_Notes.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div formGroupName="household">
            <div class="form-row mb-3">
                <label class="form-label">3. Household Responsibilities <br> "Rate the impact of your injury on your ability to handle household responsibilities, like cleaning and paying bills."</label>
                <div class="col-12 pl-4">
                    <div class="custom-control custom-radio"
                        [ngClass]="{ 'is-invalid': fh.CIFQ_Houshold_Score.errors && formRef.submitted }">
                        <div style="margin-right: 3rem;">
                            <input id="household0" type="radio" class="custom-control-input" value="0" name="CIFQ_Houshold_Score"
                                formControlName="CIFQ_Houshold_Score">
                            <label class="custom-control-label" for="household0">0 = Never Experienced
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="household01" type="radio" class="custom-control-input" value="1" name="CIFQ_Houshold_Score"
                                formControlName="CIFQ_Houshold_Score">
                            <label class="custom-control-label" for="household01">1 = Mild
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="household02" type="radio" class="custom-control-input" value="2" name="CIFQ_Houshold_Score"
                                formControlName="CIFQ_Houshold_Score">
                            <label class="custom-control-label" for="household02">2 = Moderate
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="household03" type="radio" class="custom-control-input" value="3" name="CIFQ_Houshold_Score"
                                formControlName="CIFQ_Houshold_Score">
                            <label class="custom-control-label" for="household03">3 = Severe
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="household0R" type="radio" class="custom-control-input" value="R" name="CIFQ_Houshold_Score"
                                formControlName="CIFQ_Houshold_Score">
                            <label class="custom-control-label" for="household0R">R = Resolved
                            </label>
                        </div>
                    </div>
                    <div *ngIf="fh.CIFQ_Houshold_Score.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fh.CIFQ_Houshold_Score.errors.required">Field is required
                        </div>
                    </div>
                </div>

                <div class="col-12 pl-4">
                    <div class="">
                        <textarea formControlName="CIFQ_Houshold_Notes" class="form-text form-control" rows="3" cols="100" [ngClass]="{ 'is-invalid': fh.CIFQ_Houshold_Notes.errors && formRef.submitted }"></textarea>
                    </div>
                    <div *ngIf="fh.CIFQ_Houshold_Notes.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fh.CIFQ_Houshold_Notes.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div formGroupName="work">
            <div class="form-row mb-3">
                <label class="form-label">4. Work or Academic Performance <br> "Rate the impact of your concussion on your performance and productivity at work or in academic settings."</label>
                <div class="col-12 pl-4">
                    <div class="custom-control custom-radio"
                        [ngClass]="{ 'is-invalid': fw.CIFQ_Work_Score.errors && formRef.submitted }">
                        <div style="margin-right: 3rem;">
                            <input id="work0" type="radio" class="custom-control-input" value="0" name="CIFQ_Work_Score"
                                formControlName="CIFQ_Work_Score">
                            <label class="custom-control-label" for="work0">0 = Never Experienced
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="work01" type="radio" class="custom-control-input" value="1" name="CIFQ_Work_Score"
                                formControlName="CIFQ_Work_Score">
                            <label class="custom-control-label" for="work01">1 = Mild
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="work02" type="radio" class="custom-control-input" value="2" name="CIFQ_Work_Score"
                                formControlName="CIFQ_Work_Score">
                            <label class="custom-control-label" for="work02">2 = Moderate
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="work03" type="radio" class="custom-control-input" value="3" name="CIFQ_Work_Score"
                                formControlName="CIFQ_Work_Score">
                            <label class="custom-control-label" for="work03">3 = Severe
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="work0R" type="radio" class="custom-control-input" value="R" name="CIFQ_Work_Score"
                                formControlName="CIFQ_Work_Score">
                            <label class="custom-control-label" for="work0R">R = Resolved
                            </label>
                        </div>
                    </div>
                    <div *ngIf="fw.CIFQ_Work_Score.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fw.CIFQ_Work_Score.errors.required">Field is required
                        </div>
                    </div>
                </div>

                <div class="col-12 pl-4">
                    <div class="">
                        <textarea formControlName="CIFQ_Work_Notes" class="form-text form-control" rows="3" cols="100" [ngClass]="{ 'is-invalid': fw.CIFQ_Work_Notes.errors && formRef.submitted }"></textarea>
                    </div>
                    <div *ngIf="fw.CIFQ_Work_Notes.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fw.CIFQ_Work_Notes.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div formGroupName="social">
            <div class="form-row mb-3">
                <label class="form-label">5. Social Interaction and Activities <br> "Rate the change in your engagement with social interactions and participation in social activities."</label>
                <div class="col-12 pl-4">
                    <div class="custom-control custom-radio"
                        [ngClass]="{ 'is-invalid': fs.CIFQ_Social_Score.errors && formRef.submitted }">
                        <div style="margin-right: 3rem;">
                            <input id="social0" type="radio" class="custom-control-input" value="0" name="CIFQ_Social_Score"
                                formControlName="CIFQ_Social_Score">
                            <label class="custom-control-label" for="social0">0 = Never Experienced
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="social01" type="radio" class="custom-control-input" value="1" name="CIFQ_Social_Score"
                                formControlName="CIFQ_Social_Score">
                            <label class="custom-control-label" for="social01">1 = Mild
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="social02" type="radio" class="custom-control-input" value="2" name="CIFQ_Social_Score"
                                formControlName="CIFQ_Social_Score">
                            <label class="custom-control-label" for="social02">2 = Moderate
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="social03" type="radio" class="custom-control-input" value="3" name="CIFQ_Social_Score"
                                formControlName="CIFQ_Social_Score">
                            <label class="custom-control-label" for="social03">3 = Severe
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="social0R" type="radio" class="custom-control-input" value="R" name="CIFQ_Social_Score"
                                formControlName="CIFQ_Social_Score">
                            <label class="custom-control-label" for="social0R">R = Resolved
                            </label>
                        </div>
                    </div>
                    <div *ngIf="fs.CIFQ_Social_Score.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fs.CIFQ_Social_Score.errors.required">Field is required
                        </div>
                    </div>
                </div>

                <div class="col-12 pl-4">
                    <div class="">
                        <textarea formControlName="CIFQ_Social_Notes" class="form-text form-control" rows="3" cols="100" [ngClass]="{ 'is-invalid': fs.CIFQ_Social_Notes.errors && formRef.submitted }"></textarea>
                    </div>
                    <div *ngIf="fs.CIFQ_Social_Notes.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fs.CIFQ_Social_Notes.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div formGroupName="leisure">
            <div class="form-row mb-3">
                <label class="form-label">6. Leisure Activities and Hobbies <br> "Rate how much your involvement in hobbies or leisure activities has been affected."</label>
                <div class="col-12 pl-4">
                    <div class="custom-control custom-radio"
                        [ngClass]="{ 'is-invalid': fl.CIFQ_Leisure_Score.errors && formRef.submitted }">
                        <div style="margin-right: 3rem;">
                            <input id="leisure0" type="radio" class="custom-control-input" value="0" name="CIFQ_Leisure_Score"
                                formControlName="CIFQ_Leisure_Score">
                            <label class="custom-control-label" for="leisure0">0 = Never Experienced
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="leisure01" type="radio" class="custom-control-input" value="1" name="CIFQ_Leisure_Score"
                                formControlName="CIFQ_Leisure_Score">
                            <label class="custom-control-label" for="leisure01">1 = Mild
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="leisure02" type="radio" class="custom-control-input" value="2" name="CIFQ_Leisure_Score"
                                formControlName="CIFQ_Leisure_Score">
                            <label class="custom-control-label" for="leisure02">2 = Moderate
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="leisure03" type="radio" class="custom-control-input" value="3" name="CIFQ_Leisure_Score"
                                formControlName="CIFQ_Leisure_Score">
                            <label class="custom-control-label" for="leisure03">3 = Severe
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="leisure0R" type="radio" class="custom-control-input" value="R" name="CIFQ_Leisure_Score"
                                formControlName="CIFQ_Leisure_Score">
                            <label class="custom-control-label" for="leisure0R">R = Resolved
                            </label>
                        </div>
                    </div>
                    <div *ngIf="fl.CIFQ_Leisure_Score.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fl.CIFQ_Leisure_Score.errors.required">Field is required
                        </div>
                    </div>
                </div>

                <div class="col-12 pl-4">
                    <div class="">
                        <textarea formControlName="CIFQ_Leisure_Notes" class="form-text form-control" rows="3" cols="100" [ngClass]="{ 'is-invalid': fl.CIFQ_Leisure_Notes.errors && formRef.submitted }"></textarea>
                    </div>
                    <div *ngIf="fl.CIFQ_Leisure_Notes.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fl.CIFQ_Leisure_Notes.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div formGroupName="family">
            <div class="form-row mb-3">
                <label class="form-label">7. Family and Relationship Dynamics <br> "Rate any changes in your relationships with family and close friends since the injury."</label>
                <div class="col-12 pl-4">
                    <div class="custom-control custom-radio"
                        [ngClass]="{ 'is-invalid': ff.CIFQ_Family_Score.errors && formRef.submitted }">
                        <div style="margin-right: 3rem;">
                            <input id="family0" type="radio" class="custom-control-input" value="0" name="CIFQ_Family_Score"
                                formControlName="CIFQ_Family_Score">
                            <label class="custom-control-label" for="family0">0 = Never Experienced
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="family01" type="radio" class="custom-control-input" value="1" name="CIFQ_Family_Score"
                                formControlName="CIFQ_Family_Score">
                            <label class="custom-control-label" for="family01">1 = Mild
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="family02" type="radio" class="custom-control-input" value="2" name="CIFQ_Family_Score"
                                formControlName="CIFQ_Family_Score">
                            <label class="custom-control-label" for="family02">2 = Moderate
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="family03" type="radio" class="custom-control-input" value="3" name="CIFQ_Family_Score"
                                formControlName="CIFQ_Family_Score">
                            <label class="custom-control-label" for="family03">3 = Severe
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="family0R" type="radio" class="custom-control-input" value="R" name="CIFQ_Family_Score"
                                formControlName="CIFQ_Family_Score">
                            <label class="custom-control-label" for="family0R">R = Resolved
                            </label>
                        </div>
                    </div>
                    <div *ngIf="ff.CIFQ_Family_Score.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="ff.CIFQ_Family_Score.errors.required">Field is required
                        </div>
                    </div>
                </div>

                <div class="col-12 pl-4">
                    <div class="">
                        <textarea formControlName="CIFQ_Family_Notes" class="form-text form-control" rows="3" cols="100" [ngClass]="{ 'is-invalid': ff.CIFQ_Family_Notes.errors && formRef.submitted }"></textarea>
                    </div>
                    <div *ngIf="ff.CIFQ_Family_Notes.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="ff.CIFQ_Family_Notes.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div formGroupName="physical">
            <div class="form-row mb-3">
                <label class="form-label">8. Physical Exercise and Activity <br> "Rate how your ability to engage in physical exercise and activity has been affected."</label>
                <div class="col-12 pl-4">
                    <div class="custom-control custom-radio"
                        [ngClass]="{ 'is-invalid': fp.CIFQ_Physical_Score.errors && formRef.submitted }">
                        <div style="margin-right: 3rem;">
                            <input id="physical0" type="radio" class="custom-control-input" value="0" name="CIFQ_Physical_Score"
                                formControlName="CIFQ_Physical_Score">
                            <label class="custom-control-label" for="physical0">0 = Never Experienced
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="physical01" type="radio" class="custom-control-input" value="1" name="CIFQ_Physical_Score"
                                formControlName="CIFQ_Physical_Score">
                            <label class="custom-control-label" for="physical01">1 = Mild
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="physical02" type="radio" class="custom-control-input" value="2" name="CIFQ_Physical_Score"
                                formControlName="CIFQ_Physical_Score">
                            <label class="custom-control-label" for="physical02">2 = Moderate
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="physical03" type="radio" class="custom-control-input" value="3" name="CIFQ_Physical_Score"
                                formControlName="CIFQ_Physical_Score">
                            <label class="custom-control-label" for="physical03">3 = Severe
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="physical0R" type="radio" class="custom-control-input" value="R" name="CIFQ_Physical_Score"
                                formControlName="CIFQ_Physical_Score">
                            <label class="custom-control-label" for="physical0R">R = Resolved
                            </label>
                        </div>
                    </div>
                    <div *ngIf="fp.CIFQ_Physical_Score.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fp.CIFQ_Physical_Score.errors.required">Field is required
                        </div>
                    </div>
                </div>

                <div class="col-12 pl-4">
                    <div class="">
                        <textarea formControlName="CIFQ_Physical_Notes" class="form-text form-control" rows="3" cols="100" [ngClass]="{ 'is-invalid': fp.CIFQ_Physical_Notes.errors && formRef.submitted }"></textarea>
                    </div>
                    <div *ngIf="fp.CIFQ_Physical_Notes.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fp.CIFQ_Physical_Notes.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div formGroupName="quality">
            <div class="form-row mb-3">
                <label class="form-label">9. Quality of Life: General Well-being <br> "Rate the impact of your concussion on your overall sense of well-being and satisfaction with life."</label>
                <div class="col-12 pl-4">
                    <div class="custom-control custom-radio"
                        [ngClass]="{ 'is-invalid': fq.CIFQ_QOL_Score.errors && formRef.submitted }">
                        <div style="margin-right: 3rem;">
                            <input id="quality0" type="radio" class="custom-control-input" value="0" name="CIFQ_QOL_Score"
                                formControlName="CIFQ_QOL_Score">
                            <label class="custom-control-label" for="quality0">0 = Never Experienced
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="quality01" type="radio" class="custom-control-input" value="1" name="CIFQ_QOL_Score"
                                formControlName="CIFQ_QOL_Score">
                            <label class="custom-control-label" for="quality01">1 = Mild
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="quality02" type="radio" class="custom-control-input" value="2" name="CIFQ_QOL_Score"
                                formControlName="CIFQ_QOL_Score">
                            <label class="custom-control-label" for="quality02">2 = Moderate
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="quality03" type="radio" class="custom-control-input" value="3" name="CIFQ_QOL_Score"
                                formControlName="CIFQ_QOL_Score">
                            <label class="custom-control-label" for="quality03">3 = Severe
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="quality0R" type="radio" class="custom-control-input" value="R" name="CIFQ_QOL_Score"
                                formControlName="CIFQ_QOL_Score">
                            <label class="custom-control-label" for="quality0R">R = Resolved
                            </label>
                        </div>
                    </div>
                    <div *ngIf="fq.CIFQ_QOL_Score.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fq.CIFQ_QOL_Score.errors.required">Field is required
                        </div>
                    </div>
                </div>

                <div class="col-12 pl-4">
                    <div class="">
                        <textarea formControlName="CIFQ_QOL_Notes" class="form-text form-control" rows="3" cols="100" [ngClass]="{ 'is-invalid': fq.CIFQ_QOL_Notes.errors && formRef.submitted }"></textarea>
                    </div>
                    <div *ngIf="fq.CIFQ_QOL_Notes.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fq.CIFQ_QOL_Notes.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div formGroupName="future">
            <div class="form-row mb-3">
                <label class="form-label">10. Future Outlook and Concerns <br> "Rate your level of concern about the long-term effects of your concussion and its impact on your future."</label>
                <div class="col-12 pl-4">
                    <div class="custom-control custom-radio"
                        [ngClass]="{ 'is-invalid': ffu.CIFQ_Future_Score.errors && formRef.submitted }">
                        <div style="margin-right: 3rem;">
                            <input id="future0" type="radio" class="custom-control-input" value="0" name="CIFQ_Future_Score"
                                formControlName="CIFQ_Future_Score">
                            <label class="custom-control-label" for="future0">0 = Never Experienced
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="future01" type="radio" class="custom-control-input" value="1" name="CIFQ_Future_Score"
                                formControlName="CIFQ_Future_Score">
                            <label class="custom-control-label" for="future01">1 = Mild
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="future02" type="radio" class="custom-control-input" value="2" name="CIFQ_Future_Score"
                                formControlName="CIFQ_Future_Score">
                            <label class="custom-control-label" for="future02">2 = Moderate
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="future03" type="radio" class="custom-control-input" value="3" name="CIFQ_Future_Score"
                                formControlName="CIFQ_Future_Score">
                            <label class="custom-control-label" for="future03">3 = Severe
                            </label>
                        </div>
                        <div style="margin-right: 3rem;">
                            <input id="future0R" type="radio" class="custom-control-input" value="R" name="CIFQ_Future_Score"
                                formControlName="CIFQ_Future_Score">
                            <label class="custom-control-label" for="future0R">R = Resolved
                            </label>
                        </div>
                    </div>
                    <div *ngIf="ffu.CIFQ_Future_Score.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="ffu.CIFQ_Future_Score.errors.required">Field is required
                        </div>
                    </div>
                </div>

                <div class="col-12 pl-4">
                    <div class="">
                        <textarea formControlName="CIFQ_Future_Notes" class="form-text form-control" rows="3" cols="100" [ngClass]="{ 'is-invalid': ffu.CIFQ_Future_Notes.errors && formRef.submitted }"></textarea>
                    </div>
                    <div *ngIf="ffu.CIFQ_Future_Notes.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="ffu.CIFQ_Future_Notes.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-layout"></div>

        <div class="container mt-3">
            <div class="row justify-content-between">
              <div class="col-auto">
                <button class="btn btn-warning btn-can-size" (click)="cancelPatient()" >Cancel</button>
              </div>
              <div class="col-auto">
                <button class="btn btn-primary btn-co-size mr-2" cdkStepperPrevious>&#8592; Previous</button>
                <button class="btn btn-primary btn-co-size" (click)="stepThreeSubmit()" cdkStepperNext>Next &#8594;</button>
              </div>
            </div>
        </div>

    </form>
</section>