<div class="bck-img"></div>
<div class="row-layout main-section" style="padding-top: 10rem;">
    <div class="row-layout content-main">
      <div class="view-container">
        <section class="">
            <div class="Home_Intro__container__N3OTQ">
                <div class="Home_Intro__content__m29c6">
                    <div class="Home_Intro__data__8avTK">
                        <h1 class="Home_Intro__title__hG0_y" style="letter-spacing: 4px;">Neutrauma</h1>
                    </div>
                    <div class="Home_product__container__mVqCv">
                        <div class="container">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
                                <div class="carousel-inner">
                                  <div [ngClass]="isFirst ? 'carousel-item active' : 'carousel-item' " class="carousel-item" *ngFor="let item of items;let isFirst = first">
                                     <div class="item Home_tagline__TcCNe">{{item.title}}</div>
                                  </div>
                                </div>
                                <div style="margin-top: 4em;display: flex;">
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                      <img class="image" src="/assets/left_arrow.png"/>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                      <img class="image" src="/assets/right_arrow.png"/>
                                    </a>
                                </div>
                              </div>
                        </div>
        
        
                    </div>
                </div>
            </div>
        </section>
      </div>
    </div>
</div>
