<div class="row-layout main-section" style="padding-top: 3rem;">
    <div class="row-layout content-main">
        <div class="view-container">
            <section style="padding-top: 4rem;">
                <div class="p-4 container text-center">
                    <ng-stepper #cdkStepper [linear]="true">
                        <cdk-step [stepControl]="stepOne.stepOneForm" [optional]="false">
                            <ng-template cdkStepLabel>
                                <div class="step-bullet">1</div>
                                <div class="step-title">AKA introduction<span class="required">*</span></div>
                            </ng-template>
                            <app-step-one #stepOne></app-step-one>
                        </cdk-step>

                        <cdk-step [stepControl]="stepTwo.stepTwoForm" [optional]="false">
                            <ng-template cdkStepLabel>
                                <div class="step-bullet">2</div>
                                <div class="step-title">Aka Stanford questionnair<span class="required">*</span></div>
                            </ng-template>
                            <app-step-two #stepTwo></app-step-two>
                        </cdk-step>

                        <cdk-step [stepControl]="stepThree.stepThreeForm" [optional]="false">
                            <ng-template cdkStepLabel>
                                <div class="step-bullet">3</div>
                                <div class="step-title">AKA CIFQ AKA <span class="required">*</span></div>
                            </ng-template>
                            <app-step-three #stepThree></app-step-three>
                        </cdk-step>

                        <cdk-step [stepControl]="stepFour.stepFourForm" [optional]="false">
                            <ng-template cdkStepLabel>
                                <div class="step-bullet">4</div>
                                <div class="step-title">Impact Assesment<span class="required">*</span></div>
                            </ng-template>
                            <app-step-four #stepFour></app-step-four>
                        </cdk-step>

                        <cdk-step [stepControl]="stepFive.stepFiveForm" [optional]="false" [state]="stepFive.state">
                            <ng-template cdkStepLabel>
                                <div class="step-bullet">5</div>
                                <div class="step-title">Sway results<span class="required">*</span></div>
                            </ng-template>
                            <app-step-five #stepFive></app-step-five>
                        </cdk-step>
                    </ng-stepper>
                </div>

            </section>
        </div>
    </div>
</div>