<nav class="navbar navbar-expand-lg fixed-top navbar-light header" *ngIf="account">
    <a class="navbar-brand" href="https://neutrauma.com/" *ngIf="!account" style="padding-left: 1rem;">
        <img alt="home" src="/assets/neu_logo.png" decoding="async" data-nimg="1" loading="lazy"
                style="color: transparent;" style="width: 12rem;">
    </a>
    <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active" *ngIf="account"
        style="padding-left: 1rem;">
        <img alt="home" src="/assets/neu_logo.png" decoding="async" data-nimg="1" loading="lazy"
                style="color: transparent;" style="width: 12rem;">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" *ngIf="!account">
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="account">
            <li class="nav-item active">
                <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    class="nav-item nav-link link-txt">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="/profile" routerLinkActive="active" class="nav-item nav-link link-txt">Profile</a>
            </li>
            <li class="nav-item">
                <a *ngIf="account.role === Role.Admin" routerLink="/admin" routerLinkActive="active"
                    class="nav-item nav-link">Admin</a>
            </li>
        </ul>

        <!-- <form class="form-inline mt-2 ml-2" *ngIf="!account">
            <button class="btn btn-login my-2 my-sm-0 btn-txt" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</button>
        </form> -->
        <form class="form-inline mt-2 ml-2" *ngIf="account">
            <button class="btn btn-login my-2 my-sm-0 btn-txt" (click)="logout()">Logout</button>
        </form>
    </div>
</nav>

<div>
    <!-- subnav router outlet -->
    <router-outlet name="subnav"></router-outlet>

    <!-- global alert -->
    <alert></alert>

    <!-- main router outlet -->
    <router-outlet></router-outlet>
</div>

<div style="box-shadow: 0 4px 12px #9276f8;" class="container-fluid footer p-4" *ngIf="account">
    <div class="Footer_footer__content__kibc4 footer">
        <div class="Footer_footer__info__64nXr" style="letter-spacing: 1px;">
            <p class="Footer_footer__address__hyRjl footer_font" style="line-height: 22px;">
                Neurotroma address: <br>
        
                1000 Whitlock Ave NW Ste, <br>
                320 - Box 117 Marietta, <br>
                GA 30064 <br>
            </p>
            <p class="Footer_footer__rights__NAFoy footer_font">All rights reserved {{ currentYear }}</p>
        </div>
        <div class="Footer_footer__divide__9JZ1x"></div>
        <div class="Footer_footer__social__gFGxn Footer_footer__info__64nXr">
            <div>
                <h1 class="Footer_footer__title__N_fPk follow_us" style="margin-bottom: 1.5rem;">FOLLOW US</h1>
                <div class="Footer_footer__social_list__4k0j3" style="margin-bottom: 2rem;">
                    <div class="Footer_footer__links__yZ9TH">
                        <a href="https://neutrauma.com/" class="Footer_footer__social_link__diIS7"><i
                                class='bx bxl-instagram'></i></a>
                    </div>
                    <div class="Footer_footer__links__yZ9TH">
                        <a href="https://neutrauma.com/" class="Footer_footer__social_link__diIS7"><i
                                class="bx bxl-linkedin"></i></a>
                    </div>
                    <div class="Footer_footer__links__yZ9TH">
                        <a href="https://neutrauma.com/" class="Footer_footer__social_link__diIS7"><i
                                class="bx bxl-pinterest-alt"></i></a>
                    </div>
                    <div class="Footer_footer__links__yZ9TH">
                        <a href="https://neutrauma.com/" class="Footer_footer__social_link__diIS7"><i
                                class="bx bxl-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Footer_footer__divide__9JZ1x"></div>
        <div class="Footer_footer__img__dFYUl text-center">
            <img alt="logo" src="/assets/doctor.png" decoding="async" data-nimg="1" loading="lazy"
                style="color: transparent;" style="width: 12rem;">
        </div>
        
        
    </div>
</div>