<div class="mb-4 text-center">
    <label class="patient_header">Section 5: Sway Results</label>
</div>
<section class="container patient_box">
    <div class="patient_forms_heading text-left mb-3">Sway Result</div>
    <form [formGroup]="stepFiveForm" class="form-text text-left" autocomplete="off" novalidate #formRef="ngForm">

        <div class="patient_form_sub_heading mb-3">
            <span>The following fields are all required if the Sway is proided and each response is a numerical value
                between 1-100.</span>
        </div>

        <div formGroupName="symptoms">
            <div class="patient_form_sub_heading mb-4" style="color: #2d70b8;font-size: 18px;"> Symptoms </div>
            <div class="form-row mb-3 pl-4">
                <label class="form-label">Physical</label>
                <div class="col-12 pl-4">
                    <ngx-slider formControlName="physical" [options]="options" 
                        [ngClass]="{ 'is-invalid': fs.physical.errors && formRef.submitted }"></ngx-slider>
                    <div *ngIf="fs.physical.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fs.physical.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row mb-3 pl-4">
                <label class="form-label">Cognitive</label>
                <div class="col-12 pl-4">
                    <ngx-slider formControlName="cognitive" [options]="options" 
                        [ngClass]="{ 'is-invalid': fs.cognitive.errors && formRef.submitted }"></ngx-slider>
                    <div *ngIf="fs.cognitive.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fs.cognitive.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row mb-3 pl-4">
                <label class="form-label">Emotional</label>
                <div class="col-12 pl-4">
                    <ngx-slider formControlName="emotional" [options]="options" 
                        [ngClass]="{ 'is-invalid': fs.emotional.errors && formRef.submitted }"></ngx-slider>
                    <div *ngIf="fs.emotional.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fs.emotional.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row mb-3 pl-4">
                <label class="form-label">Sleep-Arousal</label>
                <div class="col-12 pl-4">
                    <ngx-slider formControlName="sleepArousal" [options]="options" 
                        [ngClass]="{ 'is-invalid': fs.sleepArousal.errors && formRef.submitted }"></ngx-slider>
                    <div *ngIf="fs.sleepArousal.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fs.sleepArousal.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div formGroupName="balance">
            <div class="patient_form_sub_heading mb-4" style="color: #2d70b8;font-size: 18px;"> Balance </div>
            <div class="form-row mb-3 pl-4">
                <label class="form-label">MBESS</label>
                <div class="col-12 pl-4">
                    <ngx-slider formControlName="Sway_MBESS_Percentile" [options]="options" 
                        [ngClass]="{ 'is-invalid': fba.Sway_MBESS_Percentile.errors && formRef.submitted }"></ngx-slider>
                    <div *ngIf="fba.Sway_MBESS_Percentile.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fba.Sway_MBESS_Percentile.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div formGroupName="cognitive">
            <div class="patient_form_sub_heading mb-4" style="color: #2d70b8;font-size: 18px;"> Cognitive </div>
            <div class="form-row mb-3 pl-4">
                <label class="form-label">Memory</label>
                <div class="col-12 pl-4">
                    <ngx-slider formControlName="Sway_Memory_Percentile" [options]="options" 
                        [ngClass]="{ 'is-invalid': fc.Sway_Memory_Percentile.errors && formRef.submitted }"></ngx-slider>
                    <div *ngIf="fc.Sway_Memory_Percentile.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fc.Sway_Memory_Percentile.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row mb-3 pl-4">
                <label class="form-label">Reaction Time</label>
                <div class="col-12 pl-4">
                    <ngx-slider formControlName="Sway_ReactionTime_Percentile" [options]="options" 
                        [ngClass]="{ 'is-invalid': fc.Sway_ReactionTime_Percentile.errors && formRef.submitted }"></ngx-slider>
                    <div *ngIf="fc.Sway_ReactionTime_Percentile.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fc.Sway_ReactionTime_Percentile.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row mb-3 pl-4">
                <label class="form-label">Impulse Control</label>
                <div class="col-12 pl-4">
                    <ngx-slider formControlName="Sway_ImpulseControl_Percentile" [options]="options" 
                        [ngClass]="{ 'is-invalid': fc.Sway_ImpulseControl_Percentile.errors && formRef.submitted }"></ngx-slider>
                    <div *ngIf="fc.Sway_ImpulseControl_Percentile.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fc.Sway_ImpulseControl_Percentile.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row mb-3 pl-4">
                <label class="form-label">Inspection Time</label>
                <div class="col-12 pl-4">
                    <ngx-slider formControlName="Sway_InspectionTime_Percentile" [options]="options" 
                        [ngClass]="{ 'is-invalid': fc.Sway_InspectionTime_Percentile.errors && formRef.submitted }"></ngx-slider>
                    <div *ngIf="fc.Sway_InspectionTime_Percentile.errors && formRef.submitted" class="invalid-feedback">
                        <div *ngIf="fc.Sway_InspectionTime_Percentile.errors.required">Field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-layout"></div>

        <div class="container mt-3">
            <div class="row justify-content-between">
              <div class="col-auto">
                <button class="btn btn-warning btn-can-size" (click)="cancelPatient()" >Cancel</button>
              </div>
              <div class="col-auto">
                <button class="btn btn-primary btn-co-size mr-2" cdkStepperPrevious>&#8592; Previous</button>
                <button class="btn btn-primary btn-co-size" (click)="stepFiveSubmit()" cdkStepperNext>Next &#8594;</button>
              </div>
            </div>
        </div>

    </form>
</section>