<div class="mb-4 text-center">
    <label class="patient_header">Section 4: IMPACT assessment</label>
</div>
<section class="container patient_box">
    <div class="patient_forms_heading text-left mb-3">Impact Details </div>
    <form [formGroup]="stepFourForm" class="form-text text-left" autocomplete="off"
        novalidate #formRef="ngForm">

        <div class="form-row mb-3">
            <label class="form-label">1. Date of Accident:</label>
            <div class="col-12 pl-4">
                <input type="date" formControlName="dateOfAccident" class="form-control" style="width: 14rem"
                    [ngClass]="{ 'is-invalid': f.dateOfAccident.errors && formRef.submitted }" />
                <div *ngIf="f.dateOfAccident.errors && formRef.submitted" class="invalid-feedback">
                    <div *ngIf="f.dateOfAccident.errors.required">Date of Incident is required
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row mb-3">
            <label class="form-label">2. Date of Assesment:</label>
            <div class="col-12 pl-4">
                <input type="date" formControlName="dateOfAssesment" class="form-control" style="width: 14rem"
                    [ngClass]="{ 'is-invalid': f.dateOfAssesment.errors && formRef.submitted }" />
                <div *ngIf="f.dateOfAssesment.errors && formRef.submitted" class="invalid-feedback">
                    <div *ngIf="f.dateOfAssesment.errors.required">Date of Incident is required
                    </div>
                </div>
            </div>
        </div>

        <div class="row-layout"></div>

        <div class="container mt-3">
            <div class="row justify-content-between">
              <div class="col-auto">
                <button class="btn btn-warning btn-can-size" (click)="cancelPatient()" >Cancel</button>
              </div>
              <div class="col-auto">
                <button class="button btn-primary btn-co-size mr-2" cdkStepperPrevious>&#8592; Previous</button>
                <button class="btn btn-primary btn-co-size" (click)="stepFourSubmit()" cdkStepperNext>Next &#8594;</button>
              </div>
            </div>
        </div>

    </form>
</section>